<!DOCTYPE html>
<html lang="en">
<head>
    <title>Work CV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
  <th:block th:insert="fragments/common/layout :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/nav-header :: nav"></th:block>

<!-- END nav -->

<div class="hero-wrap img" style="background-image: url(user/assets/images/bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-10 d-flex align-items-center ">
        <div class="text text-center pt-5 mt-md-5">
          <p class="mb-4">Tìm việc làm, Cơ hội việc làm và Nghề nghiệp</p>
          <h1 class="mb-5">Cách dễ dàng nhất để có được công việc mới của bạn</h1>
          <div class="ftco-counter ftco-no-pt ftco-no-pb">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-visitor"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="46" th:text="${numberCandidate}"></strong>
                      <span>Ứng cử viên</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-visitor"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="450" th:text="${numberCompany}"></strong>
                      <span>Công ty</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-resume"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="80000" th:text="${numberRecruitment}"></strong>
                      <span>Tuyển dụng</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <th:block th:include="fragments/common/layout :: search"></th:block>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
  <div class="container">
    <h4 style="margin-top: -20px">Kết quả tìm kiếm cho : <span th:text="${keySearch}"></span></h4>
    <div class="row">
      <div class="col-lg-12 pr-lg-5">
        <div class="row">
          <th:block th:each="user : ${users}">
            <div class="col-md-12" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;margin: 20px auto;">
              <div class="team d-md-flex p-4 bg-white">
                <IMG style="margin-top: 10px" class="img" th:src="${user.image != null ? user.imagePath : 'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg'}"></IMG>
                <div class="text pl-md-4">
                  <H5 class="location mb-0" th:text="${user.fullName}"></H5>
                  <p style="display: block;color: black" th:text="${user.address}"></p>
                  <span class="position" style="display: block;color: black" th:text="${user.email}"></span>
                  <p class="mb-4" style="width: 700px" th:utext="${user.selfDescription}">.</p>
<!--                  <div th:if="${user != null}" style="margin-left: 1px" class="row">-->
<!--                    <p><a th:href="${'/user/getCv/'}+${applyPost.id}"  class="btn btn-primary">Xem cv</a></p>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </th:block>
          <div  style="text-align: center" th:if="${users.size() == 0}">
            <p style="color: red">Không có kết quả nào</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</body>
</html>