<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <th:block th:insert="fragments/common/layout :: head"></th:block>
    <title>Work CV</title>
</head>
<body>
<th:block th:include="fragments/nav-header :: nav"></th:block>

<!--<nav class="header_menu navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">-->
<!--    <div class="container-fluid px-md-4	">-->
<!--        <a class="navbar-brand" href="/">Work CV</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="oi oi-menu"></span> Menu-->
<!--        </button>-->
<!--    -->
<!--        <div class="collapse navbar-collapse" id="ftco-nav">-->
<!--          <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>-->
<!--            <li class="'nav-item"><a href="/" class="nav-link">Công việc</a></li>-->
<!--            <li class="nav-item"><a href="/" class="nav-link">Ứng cử viên</a></li>-->
<!--    &lt;!&ndash;        <li class="nav-item"><a href="blog.html" class="nav-link">Công ty</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash; -->
<!--            <li th:if="${session.user}" class="nav-item"><a th:href="@{'/user/profile/'+${session.user.id}}" th:text="${session.user.fullName}" class="nav-link" ></a> &ndash;&gt;-->
<!--    -->
<!--              <ul class="dropdown">-->
<!--                <li><a href="/">Hồ Sơ</a></li>-->
<!--    &lt;!&ndash;            <li><a href="service-single.html">Đổi mật khẩu</a></li>&ndash;&gt;-->
<!--                <li ><a href="/save-job/get-list" >Công việc đã lưu</a></li>-->
<!--                <li ><a href="/user/list-post" >Danh sách bài đăng</a></li>-->
<!--                <li ><a href="/user/get-list-apply" >Công việc đã ứng tuyển</a></li>-->
<!--                <li ><a href="/user/get-list-company" >Công ty đã theo dõi</a></li>-->
<!--    &lt;!&ndash;            <li th:if="${session.user.role.id == 2}"><a href="/auth/logout" >Ứng cử viên tiềm năng</a></li>&ndash;&gt;-->
<!--                <li><a href="/auth/logout" >Đăng xuất</a></li>-->
<!--    -->
<!--              </ul>-->
<!--            </li>-->
<!--    -->
<!--              <li></li>-->
<!--    -->
<!--              <li class="nav-item cta mr-md-1"><a href="/recruitment/post" class="nav-link">Đăng tuyển</a></li>-->
<!--            <li class="nav-item cta cta-colored"><a href="/auth/login" class="nav-link">Đăng nhập</a></li>-->
<!--    -->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--</nav>-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('user/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-12 text-center mb-5">
        <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> đăng nhập<span></span></p>
        <h1 class="mb-3 bread">Đăng nhập / Đăng kí</h1>
      </div>
    </div>
  </div>
</div>
<div th:if="${registerSuccess}" class="toast" data-delay="2500" style="position:fixed; top: 100px; right: 10px; z-index: 2000; width: 300px">
  <script>
    swal({
      title: 'Đăng ký thành công!',
      icon: 'success',
      timer: 5000,
      buttons: true,
      type: 'success'
    })
  </script>
</div>


<div th:if="${registerFail}" class="toast" data-delay="2500" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <script>
    swal({
      title: 'Đăng ký thất bại!',
      /* text: 'Redirecting...', */
      icon: 'error',
      timer: 3000,
      buttons: true,
      type: 'error'
    })
  </script>
</div>
<div th:if="${param.error}" class="toast" data-delay="2500" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <script>
    swal({
      title: 'Đăng nhập không thành công !',
      /* text: 'Redirecting...', */
      icon: 'error',
      timer: 3000,
      buttons: true,
      type: 'error'
    })
  </script>
</div>


<!--<div sec:authorize="!isAuthenticated()">-->
<!--  <div>-->
<!--    Reason: <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>-->
<!--  </div>-->
<!--</div>-->

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Đăng kí / đăng nhập</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Trang chủ</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Đăng nhập</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <h2 class="mb-4">Đăng kí</h2>
        <form th:object="${user}" th:action="@{/auth/register}" th:method="post" class="p-4 border rounded">
          <input type="hidden" name="status" th:value="1">
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Họ và tên</label>
              <input type="text" id="email" name="fullName" class="form-control" placeholder="Họ và tên" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Mật khẩu</label>
              <input type="password" id=""  name="password" class="form-control" placeholder="Mật khẩu" required>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Nhập lại mật khẩu</label>
              <input type="password" id="fname" name="rePassword" class="form-control" placeholder="Nhập lại mật khẩu" required>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Vai trò</label>
              <select class="form-control" name="role_id" aria-label="Default select example" required>
                <option value="" selected disabled hidden>Chọn vai trò</option>
                <option value="1">Ứng cử viên</option>
                <option value="2">Công ty</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Đăng kí" class="btn px-4 btn-primary text-white">
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <h2 class="mb-4">Đăng nhập</h2>
        <form th:action="@{/auth/login}" th:method="post" class="p-4 border rounded">

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Email</label>
              <input type="email" id="fname" name="email" class="form-control" placeholder="Email" required>
            </div>
          </div>
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Mật khẩu</label>
              <input type="password" id="fname" name="password" class="form-control" placeholder="Mật khẩu" required>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Đăng nhập" class="btn px-4 btn-primary text-white">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<!--<footer th:replace="public/fragments :: footer" class="ftco-footer ftco-bg-dark ftco-section">-->

</footer>
</body>
</html>